target/
*.iml
*.iws
*.ipr
.settings
.project
.classpath
.idea

.metadata/
obj/
bin/
pasinvoke/PASInvokeSetup/Debug/PASInvokeSetup.msi
pasinvoke/PASInvokeSetup/Debug/setup.exe
pasinvoke/PASInvokeSetup/Release/setup.exe
pasinvoke/PASInvokeSetup/Release/PASInvokeSetup.msi
ws-pas/wsPASExec.suo
pasinvoke/pasinvoke.suo
pasinvoke/pasinvoke.suo
centricadmin/centric.suo
pasinvoke/pasinvoke.suo
centricadmin/centric.suo
pasinvoke/pasinvoke.suo
pasinvoke/pasinvoke.suo
ws-pas/wsPASExec/Web.config