<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="$jnlp_codebase_url" href="pas.jnlp">
  <information>
    <title>$jnlp_title</title>
    <vendor>#if($project.Organization.Name)$project.Organization.Name#end<vendor/>
    <homepage>#if($project.Organization.Url)$project.Organization.Url#end<homepage/>
		<icon href="pas.ico" />
		<icon href="PAS_splash.jpg" kind="splash" />
		<icon kind="shortcut" href="pas.ico" width="64" height="64"/>
		<offline-allowed/>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+"
          href="http://java.sun.com/products/autodl/j2se"
          java-vm-args="-Xms512M -Xmx768M -Dsun.net.client.defaultConnectTimeout=10000 -Dsun.net.client.defaultReadTimeout=600000" />
    $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>--args</argument>
    <argument>-x$jnlp_codebase;-s$jnlp_s;-w$jnlp_w;-v$jnlp_v</argument>
  </application-desc>
</jnlp>