<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ActiveMqUri" value="failover:tcp://192.168.3.59:61616"/>
    <add key="ActiveMqDestination" value="queue://pas-integration-senilix"/>

  </appSettings>
  <connectionStrings>
    <add name="backbone" connectionString="DSN=backbone_beta; UID=sa; PWD=Diginform2011"/>
  </connectionStrings>
</configuration>  
