<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Database -->
    <add key="dsn_login" value="backbone_ibuki"/>
    <add key="uid_login" value="sa"/>
    <add key="pwd_login" value="diginform"/>
    <add key="dsn_whitelist" value="backbone_ibuki"/>
    <add key="uid_whitelist" value="sa"/>
    <add key="pwd_whitelist" value="diginform"/>
    <add key="text_size" value="2048"/>
    <!-- Log -->
    <!-- SyslogType 1 = errors, 2 = send, 4 = status poll, 8 = reply poll -->
    <add key="SyslogType" value="15"/>
    <add key="SyslogApp" value="soap/tcs-test/1.0"/>
    <add key="SyslogServer" value="makoto.umscom.com"/>
    <add key="SyslogPort" value="514"/>
    <!-- Config -->
    <!--<add key="ParserPath" value="S:\projects\ws-tcs\!docs\eat"/>-->
    <add key="ParserPath" value="\\ayanami\ums\var\tas\eat"/>
    <add key="MessageType" value="6"/>
    <add key="MaxMessageLength" value="160"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="2048"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>