<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="admin_department" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="usertype_regional" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="usertype_super_regional" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="usertype_national" value="4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="usertype_administrator" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="national_department" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="company" value="NLALERT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="centric.com.ums.ws.parm.admin.ParmAdmin" value="https://secure.ums2.no/PAS/ws_nlutv/WS/ParmAdmin.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="centric.com.ums.ws.pas.status.PasStatus" value="https://secure.ums2.no/PAS/ws_nlutv/WS/PasStatus.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="centric.com.ums.ws.pas.admin.PasAdmin" value="https://secure.ums2.no/PAS/ws_nlutv/WS/PasAdmin.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="centric.com.ums.ws.pas.admin.Pas" value="https://secure.ums2.no/PAS/ws_nlutv/WS/Pas.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pas" value="http://192.168.3.41/nlalertws/WS/Pas.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PasStatus" value="http://192.168.3.41/nlalertws/WS/PasStatus.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PasAdmin" value="http://192.168.3.41/nlalertws/WS/PasAdmin.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ParmAdmin" value="http://192.168.3.41/nlalertws/WS/ParmAdmin.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mapinfo" value="http://172.31.1.3/mapguide/mapagent/mapagent.fcgi;image/png;BurgerAlert/Layers/TOP250Raster,BurgerAlert/Layers/Veiligheidsregios;28992" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="w" value="http://192.168.3.41/nlalertws/WS/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>