<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--General-->
    <add key="ParsePath" value="d:\ums\var\cb" />
    <add key="CPUAffinity" value="1" />
    <add key="Retries" value="2" />
    <add key="RetryInterval" value="60" />
    <add key="MessageType" value="7" />
    <add key="StatusPollInterval" value="180" />
    <!--HeartBeat-->
    <add key="HeartBeatEnabled" value="false" />
    <add key="HeartBeatInterval" value="10" /><!-- send heartbeat message every x minutes -->
    <add key="HeartBeatMessageText" value="Heartbeat text"/>
    <!--Test-->
    <add key="TestMessageEnabled" value="false" />
    <add key="TestMessageType" value="70" />
    <add key="TestMessageGroup" value="16" />
    <add key="TestMessageText" value="Random test text"/>
    <!--Debug-->
    <add key="Live" value="true"/>
    <add key="Debug" value="false" />
    <add key="DumpPath" value="d:\ums\var\cb\debug\" />
    <!--Log-->
    <add key="Syslog" value="false" />
    <add key="SyslogApp" value="cbserv/1.1" />
    <add key="SyslogServer" value="syslog.somedomain.com" />
    <add key="SyslogPort" value="514" />
    <add key="LogFile" value="true" />
    <add key="LogFileName" value="cbserv" />
    <add key="LogFilePath" value="d:\ums\var\log\" />
    <!--Database-->
    <add key="DSN" value="cbserver" />
    <add key="UID" value="cb" />
    <add key="PWD" value="cbpass" />
  </appSettings>
</configuration>