<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--General-->
    <add key="ParsePath" value="\\192.168.3.40\ums\var\cb\" />
    <add key="CPUAffinity" value="1" />
    <add key="Retries" value="2" />
    <add key="RetryInterval" value="60" />
    <!--Log-->
    <add key="Syslog" value="false" />
    <add key="SyslogApp" value="tasserv/1.0" />
    <add key="SyslogServer" value="makoto.umscom.com" />
    <add key="SyslogPort" value="514" />
    <add key="LogFile" value="false" />
    <add key="LogFileName" value="tasserv" />
    <!--Database-->
    <add key="DSN" value="backbone_ibuki" />
    <add key="UID" value="sa" />
    <add key="PWD" value="diginform" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>