<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--General-->
    <add key="ParsePath" value="\\192.168.3.40\ums\var\cb\" />
    <add key="CPUAffinity" value="1" />
    <!--Log-->
    <add key="Syslog" value="false" />
    <add key="SyslogApp" value="tasserv/1.0" />
    <add key="SyslogServer" value="makoto.umscom.com" />
    <add key="SyslogPort" value="514" />
    <add key="LogFile" value="false" />
    <add key="LogFileName" value="tasserv" />
    <!--Database-->
    <add key="DSN" value="backbone_ibuki" />
    <add key="UID" value="sa" />
    <add key="PWD" value="diginform" />
  </appSettings>
</configuration>