<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Remove" />
  <appSettings xdt:Transform="Replace">
    <add key="sz_db_dsn" value="backbone_beta" />
    <add key="sz_db_dsn_aoba" value="backbone_beta" />
    <add key="sz_db_uid" value="sa" />
    <add key="sz_db_pwd" value="diginform" />
    <add key="sz_path_backbone" value="\\192.168.3.57\ums\var\bcp\bbtemp\" />
    <add key="sz_path_bcp" value="\\192.168.3.57\ums\var\bcp\eat" />
    <add key="sz_path_predefined_areas" value="\\192.168.3.57\ums\var\pas\predefined-areas\" />
    <add key="sz_path_temp" value="E:\ums\temp\" />
    <add key="sz_path_mapsendings" value="\\192.168.3.57\ums\var\pas\mapsendings" />
    <add key="sz_path_lba" value="\\192.168.3.57\ums\var\lba\eat" />
    <add key="sz_path_tas" value="\\192.168.3.57\ums\var\tas\eat" />
    <add key="sz_path_voice" value="\\192.168.3.57\ums\var\aep\eat\" />
    <add key="sz_path_cb" value="\\192.168.3.57\ums\var\cb\eat\" />
    <add key="sz_adrdb_dsnbase" value="vb_adr_" />
    <add key="sz_adrdb_uid" value="sa" />
    <add key="sz_adrdb_pwd" value="diginform" />
    <add key="sysloghost" value="makoto.ums.no" />
    <add key="syslogport" value="514" />
    <add key="sz_parm_path_temp" value="\\192.168.3.52\www\PAS\temp\" />
    <add key="sz_parm_path_zipped" value="\\192.168.3.52\www\PAS\zipped\" />
    <add key="sz_path_tts_server" value="\\192.168.3.61\ums\var\tts\convert\" />
    <add key="sz_path_audiofiles" value="\\192.168.3.57\ums\var\gas\audiofiles\" />
    <add key="sz_path_bbmessages" value="\\192.168.3.57\UMS\var\backbone\bbmessages\" />
    <add key="sz_path_predefined_messages" value="\\192.168.3.57\ums\var\Backbone\messagelib\" />
    <add key="sz_path_infosent" value="\\192.168.3.57\ums\var\Backbone" />
    <add key="sz_send_number" value="23500800" />
    <add key="sz_path_global_wav_dir" value="d:\ums\var\wavlib" />
    <add key="f_rms" value="0,50" />
    <add key="l_tts_timeout_secs" value="60" />
    <add key="sz_url_nslookup" value="https://maxmind.com/f?l=JjFYs6M7dKF2"/>
    <add key="l_nslookup_timeout" value="5000"/>
    <add key="l_folkereg_num_adrtables" value="3" />
    <add key="sz_url_weather_forecast" value="http://www.storm.no/kunder/ums/ums.asp?" />
    <add key="l_gisimport_chunksize" value="5" />
    <add key="l_gisimport_db_timeout" value="180" />
    <add key="b_enable_adrdb" value="true" />
    <add key="b_enable_nslookup" value="true" />
    <add key="l_max_logontries" value="5"/>
    <add key="b_write_messagelib_to_file" value="false"/>
    <add key="b_enable_syslog" value="false"/>
    <add key="b_enable_eventlog" value="true"/>
    <add key="l_onetimekey_capacity" value="100" />
    <add key="l_onetimekey_valid_secs" value="120"/>
    <add key="ActiveMqUri" value="failover:tcp://192.168.3.59:61616"/>
    <add key="ActiveMqDestination" value="queue://pas-integration-beta"/>
    <add key="UseDoubleAdrLookup" value="true" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="backbone" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=backbone_beta;Uid=sa;Pwd=Diginform2011;" />
    <add name="vulnerable" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="info" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=backbone_beta;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0032" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=belgium_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0032_reg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=belgium_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_00358" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=finland_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_00358_req" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=finland_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0044" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=uk_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0044_reg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=uk_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="address_0045" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=denmark_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0045_reg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=denmark_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="address_0046" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=sweden_addresses;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0046_reg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=sweden_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0047" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0047_reg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="adrdb_folkereg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="adrdb_regular" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_address;Uid=sa;Pwd=Diginform2011;"/>
    <add name="custom_7_reg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=denmark_folkereg;Uid=sa;Pwd=Diginform2011;"/>
  </connectionStrings>
  <system.web>
    
  </system.web>
</configuration>