<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="sz_db_dsn" value="wsbbgendo_qa" />
    <add key="sz_db_dsn_aoba" value="aoba" />
    <add key="sz_db_uid" value="sa" />
    <add key="sz_db_pwd" value="diginform" />
    <add key="sz_path_backbone" value="\\195.119.0.169\ums\var\aep\eat\" />
    <add key="sz_path_bcp" value="\\195.119.0.169\ums\var\bcp\eatpas-qa\" />
    <add key="sz_path_predefined_areas" value="\\195.119.0.167\broadcast_dialogic\predefined-areas\" />
    <add key="sz_path_temp" value="D:\ums\tmp" />
    <add key="sz_path_mapsendings" value="\\195.119.0.167\broadcast_dialogic\mapsendings\" />
    <add key="sz_path_lba" value="\\195.119.0.181\UMS\var\lba-qa\eat\" />
    <add key="sz_path_tas" value="\\195.119.0.181\UMS\var\tas\eat\" />
    <add key="sz_path_voice" value="\\195.119.0.169\ums\var\aep\eat\" />
    <add key="sz_adrdb_dsnbase" value="vb_adr_" />
    <add key="sz_adrdb_uid" value="sa" />
    <add key="sz_adrdb_pwd" value="diginform" />
    <add key="sysloghost" value="makoto.umscom.com" />
    <add key="syslogport" value="514" />
    <add key="sz_parm_path_temp" value="d:\www\Voicebroadcast4.5\java_pas\temp\" />
    <add key="sz_parm_path_zipped" value="\d:\www\Voicebroadcast4.5\java_pas\zipped\" />
    <add key="sz_path_tts_server" value="\\195.119.0.169\convert\" />
    <add key="sz_path_predefined_messages" value="\\195.119.0.167\BBMessages\" />
    <add key="sz_path_audiofiles" value="\\195.119.0.167\broadcast_dialogic\audiofiles\" />
    <add key="sz_send_number" value="23500800" />
    <add key="sz_path_global_wav_dir" value="d:\ums\var\wavlib" />
    <add key="sz_path_bbmessages" value="\\195.119.0.167\BBMessages\" />
    <add key="f_rms" value="0,50" />
    <add key="l_tts_timeout_secs" value="60" />
    <add key="sz_url_nslookup" value="http://maxmind.com:8010/f?l=JjFYs6M7dKF2" />
    <add key="l_folkereg_num_adrtables" value="3" />
    <add key="sz_url_weather_forecast" value="http://www.storm.no/kunder/ums/ums.asp?" />
    <add key="l_gisimport_chunksize" value="10" />
    <add key="l_gisimport_db_timeout" value="180" />
    <add key="b_enable_adrdb" value="true" />
    <add key="b_enable_nslookup" value="true" />
    <add key="l_max_logontries" value="5" />
    <add key="b_write_messagelib_to_file" value="true" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="backbone" connectionString="DSN=wsbbgendo_qa; UID=sa; PWD=diginform" />
    <add name="info" connectionString="DSN=aoba; UID=sa; PWD=diginform" />
    <add name="address_0045" connectionString="DSN=vb_adr_0045; UID=sa; PWD=diginform" />
    <add name="address_0046" connectionString="DSN=vb_adr_0046; UID=sa; PWD=diginform" />
    <add name="address_0046_reg" connectionString="DSN=vb_adr_0046_reg; UID=sa; PWD=diginform" />
    <add name="address_0047" connectionString="DSN=vb_adr_0047; UID=sa; PWD=diginform" />
    <add name="address_0047_reg" connectionString="DSN=vb_adr_0047_reg; UID=sa; PWD=diginform" />
  </connectionStrings>
</configuration>