<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Replace">
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <identity xdt:Transform="Remove" />
    <!-- Make sure to remove any existing impersonate settings before inserting new -->
    <identity impersonate="true" password="Digi20ums" userName="gas-se\iusr_gas" xdt:Transform="Insert"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="sz_db_dsn" value="ws-pas" />
    <add key="sz_db_dsn_aoba" value="ws-pas" />
    <add key="sz_db_uid" value="sa" />
    <add key="sz_db_pwd" value="Diginform2011" />
    <add key="sz_path_backbone" value="\\apps1.gas-se.umscom.local\ums\var\aep\eat\" />
    <add key="sz_path_bcp" value="\\apps1.gas-se.umscom.local\ums\var\bcp-qa\eat\" />
    <add key="sz_path_predefined_areas" value="\\gas-se.umscom.local\storage\replicated\pas\predefined-areas" />
    <add key="sz_path_temp" value="e:\ums\tmp\" />
    <add key="sz_path_mapsendings" value="\\storage1.gas-se.umscom.local\replicated\pas\mapsendings" />
    <add key="sz_path_lba" value="\\apps1.gas-se.umscom.local\ums\var\lba\eat" />
    <add key="sz_path_tas" value="\\apps1.gas-se.umscom.local\ums\var\tas\eat" />
    <add key="sz_path_voice" value="\\apps1.gas-se.umscom.local\ums\var\aep\eat" />
    <add key="sz_path_cb" value="e:\ums\var\pas\" />
    <!-- not in use -->
    <add key="sz_adrdb_dsnbase" value="vb_adr_" />
    <add key="sz_adrdb_uid" value="sa" />
    <add key="sz_adrdb_pwd" value="Diginform2011" />
    <add key="sysloghost" value="makoto.umscom.com" />
    <add key="syslogport" value="514" />
    <add key="sz_parm_path_temp" value="e:\ums\var\pas\java_pas\temp\" />
    <add key="sz_parm_path_zipped" value="e:\ums\var\pas\java_pas\zipped\" />
    <add key="sz_path_tts_server" value="\\apps1.gas-se.umscom.local\UMS\var\TTS\Convert\" />
    <add key="sz_path_audiofiles" value="\\gas-se.umscom.local\storage\common\gasclient\audiofiles" />
    <add key="sz_path_bbmessages" value="\\gas-se.umscom.local\storage\replicated\backbone\BBMessages\" />
    <add key="sz_path_infosent" value="\\gas-se.umscom.local\storage\replicated\backbone" />
    <add key="sz_send_number" value="23500800" />
    <add key="sz_path_global_wav_dir" value="e:\ums\var\pas\wavlib" />
    <add key="f_rms" value="0,50" />
    <add key="l_tts_timeout_secs" value="60" />
    <add key="sz_url_nslookup" value="http://maxmind.com:8010/f?l=JjFYs6M7dKF2" />
    <add key="l_folkereg_num_adrtables" value="3" />
    <add key="sz_url_weather_forecast" value="http://www.storm.no/kunder/ums/ums.asp?" />
    <add key="l_gisimport_chunksize" value="5" />
    <add key="l_gisimport_db_timeout" value="180" />
    <add key="b_enable_adrdb" value="true" />
    <add key="b_enable_nslookup" value="true" />
    <add key="l_max_logontries" value="5" />
    <add key="b_write_messagelib_to_file" value="false" />
    <add key="b_enable_syslog" value="false" />
    <add key="b_enable_eventlog" value="true" />
    <add key="l_onetimekey_capacity" value="100" />
    <add key="l_onetimekey_valid_secs" value="120" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="backbone" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=backbone_out;Uid=sa;Pwd=Diginform2011;" />
    <add name="info" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=backbone_in;Uid=sa;Pwd=Diginform2011;" />

    <add name="address_0045" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=denmark_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0045_reg" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=denmark_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="address_0046" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=sweden_addresses;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0046_reg" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=sweden_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0047" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=norway_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0047_reg" connectionString="Driver={SQL Server};Server=192.168.9.50;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;" />
  </connectionStrings>
</configuration>