<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="sz_db_dsn" value="backbone_beta" />
    <add key="sz_db_dsn_aoba" value="backbone_beta" />
    <add key="sz_db_uid" value="sa" />
    <add key="sz_db_pwd" value="diginform" />
    <add key="sz_path_backbone" value="\\192.168.3.186\UMS\var\bcp\bbtemp\" />
    <add key="sz_path_bcp" value="\\192.168.3.186\UMS\var\bcp\eat\" />
    <add key="sz_path_predefined_areas" value="\\192.168.3.40\www\vb4utv\predefined-areas\" />
    <add key="sz_path_temp" value="D:\\ums\temp\" />
    <add key="sz_path_mapsendings" value="\\192.168.3.40\www\vb4utv\mapsendings" />
    <add key="sz_path_lba" value="\\192.168.3.40\UMS\var\lba\eat\" />
    <add key="sz_path_tas" value="\\192.168.3.40\UMS\var\tas\eat\" />
    <add key="sz_path_voice" value="\\195.119.0.169\ums\var\aep\eat\" />
    <add key="sz_path_cb" value="\\192.168.3.40\ums\var\cbb\eat\"/>
    <add key="sz_adrdb_dsnbase" value="vb_adr_" />
    <add key="sz_adrdb_uid" value="sa" />
    <add key="sz_adrdb_pwd" value="diginform" />
    <add key="sysloghost" value="makoto.ums.no" />
    <add key="syslogport" value="514" />
    <add key="sz_parm_path_temp" value="\\192.168.3.40\www\vb4utv\java_pas\temp\" />
    <add key="sz_parm_path_zipped" value="\\192.168.3.40\www\vb4utv\java_pas\zipped\" />
    <add key="sz_path_tts_server" value="\\195.119.0.169\convert\" />
    <add key="sz_path_audiofiles" value="\\192.168.3.40\www\PAS\audiofiles\" />
    <add key="sz_path_bbmessages" value="\\195.119.0.167\BBMessages\" />
    <add key="sz_path_predefined_messages" value="\\195.119.0.167\Backbone\messagelib\" />
    <add key="sz_path_infosent" value="\\195.119.0.167\Backbone"/>
    <add key="sz_send_number" value="23500800" />
    <add key="sz_path_global_wav_dir" value="d:\ums\var\wavlib" />
    <add key="f_rms" value="0,50" />
    <add key="l_tts_timeout_secs" value="60" />
    <add key="sz_url_nslookup" value="http://maxmind.com:8010/f?l=JjFYs6M7dKF2" />
    <add key="l_folkereg_num_adrtables" value="3" />
    <add key="sz_url_weather_forecast" value="http://www.storm.no/kunder/ums/ums.asp?" />
    <add key="l_gisimport_chunksize" value="5" />
    <add key="l_gisimport_db_timeout" value="180" />
    <add key="b_enable_adrdb" value="true" />
    <add key="b_enable_nslookup" value="true" />
    <add key="l_max_logontries" value="5"/>
    <add key="b_write_messagelib_to_file" value="false"/>
    <add key="b_enable_syslog" value="false"/>
    <add key="b_enable_eventlog" value="true"/>
    <add key="l_onetimekey_capacity" value="100" />
    <add key="l_onetimekey_valid_secs" value="120"/>
    <add key="ActiveMqUri" value="failover:tcp://192.168.3.59:61616"/>
    <add key="ActiveMqDestination" value="queue://pas-integration-debug"/>

  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="backbone" connectionString="DSN=backbone_beta; UID=sa; PWD=Diginform2011" />
    <add name="info" connectionString="DSN=backbone_beta; UID=sa; PWD=Diginform2011" />
    <add name="address_0045" connectionString="DSN=vb_adr_0045; UID=sa; PWD=diginform" />
    <add name="address_0046" connectionString="DSN=vb_adr_0046; UID=sa; PWD=diginform" />
    <add name="address_0046_reg" connectionString="DSN=vb_adr_0046_reg; UID=sa; PWD=diginform" />
    <add name="address_0047" connectionString="DSN=vb_adr_0047; UID=sa; PWD=diginform" />
    <add name="address_0047_reg" connectionString="DSN=vb_adr_0047_reg; UID=sa; PWD=diginform" />
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>