<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Replace">
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <!--<system.webServer xdt:Transform="Insert">
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>-->
  <system.web>
    <identity impersonate="true" xdt:Transform="Insert"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="sz_db_dsn" value="ws-pas" />
    <add key="sz_db_dsn_aoba" value="ws-pas" />
    <add key="sz_db_uid" value="sa" />
    <add key="sz_db_pwd" value="Diginform2011" />
    <add key="sz_path_backbone" value="\\apps1.orange.umscom.local\ums\var\aep\eat\" />
    <add key="sz_path_bcp" value="\\apps1.orange.umscom.local\ums\var\bcp\eat\" />
    <add key="sz_path_predefined_areas" value="\\storage1.orange.umscom.local\storage1\replicated\pas\predefined-areas" />
    <add key="sz_path_temp" value="e:\ums\temp\" />
    <add key="sz_path_mapsendings" value="\\storage1.orange.umscom.local\storage1\replicated\pas\mapsendings" />
    <add key="sz_path_lba" value="\\apps1.orange.umscom.local\ums\var\lbaqa\eat" />
    <add key="sz_path_tas" value="\\apps1.orange.umscom.local\ums\var\tasqa\eat" />
    <add key="sz_path_voice" value="\\apps1.orange.umscom.local\ums\var\aep\eat" />
    <add key="sz_path_cb" value="e:\ums\var\pas\" />
    <!-- not in use -->
    <add key="sz_adrdb_dsnbase" value="vb_adr_" />
    <add key="sz_adrdb_uid" value="sa" />
    <add key="sz_adrdb_pwd" value="Diginform2011" />
    <add key="sysloghost" value="makoto.ums.no" />
    <add key="syslogport" value="514" />
    <add key="sz_parm_path_temp" value="e:\ums\var\pas\java_pas\temp\" />
    <add key="sz_parm_path_zipped" value="e:\ums\var\pas\java_pas\zipped\" />
    <add key="sz_path_tts_server" value="\\tts1.orange.umscom.local\ums\var\tts\convert\" />
    <add key="sz_path_audiofiles" value="\\storage1.orange.umscom.local\storage1\common\gasclient\audiofiles" />
    <add key="sz_path_bbmessages" value="\\storage1.orange.umscom.local\storage1\replicated\backbone\BBMessages\" />
    <add key="sz_path_predefined_messages" value="\\storage1.orange.umscom.local\storage1\replicated\backbone\messagelib\" />
    <add key="sz_path_infosent" value="\\storage1.orange.umscom.local\storage1\replicated\backbone" />
    <add key="sz_send_number" value="23500800" />
    <add key="sz_path_global_wav_dir" value="e:\ums\var\pas\wavlib" />
    <add key="f_rms" value="0,50" />
    <add key="l_tts_timeout_secs" value="60" />
    <add key="sz_url_nslookup" value="http://maxmind.com:8010/f?l=JjFYs6M7dKF2" />
    <add key="l_folkereg_num_adrtables" value="3" />
    <add key="sz_url_weather_forecast" value="http://www.storm.no/kunder/ums/ums.asp?" />
    <add key="l_gisimport_chunksize" value="5" />
    <add key="l_gisimport_db_timeout" value="180" />
    <add key="b_enable_adrdb" value="true" />
    <add key="b_enable_nslookup" value="true" />
    <add key="l_max_logontries" value="5" />
    <add key="b_write_messagelib_to_file" value="false" />
    <add key="b_enable_syslog" value="false" />
    <add key="b_enable_eventlog" value="true" />
    <add key="l_onetimekey_capacity" value="100" />
    <add key="l_onetimekey_valid_secs" value="120" />
    <add key="ActiveMqUri" value="failover:tcp://192.168.5.60:61616"/>
    <add key="ActiveMqDestination" value="queue://pas-integration-qa"/>
    <add key="UseDoubleAdrLookup" value="true" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="backbone" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=backbone_out;Uid=sa;Pwd=Diginform2011;" />
    <add name="info" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=backbone_in;Uid=sa;Pwd=Diginform2011;" />
    <add name="vulnerable" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0045" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=denmark_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0045_reg" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=denmark_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="address_0046" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=sweden_addresses;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0046_reg" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=sweden_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0047" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=norway_address;Uid=sa;Pwd=Diginform2011;" />
    <add name="address_0047_reg" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;" />
    <add name="adrdb_folkereg" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="adrdb_regular" connectionString="Driver={SQL Server};Server=192.168.5.50;Database=norway_address;Uid=sa;Pwd=Diginform2011;"/>
  </connectionStrings>
</configuration>