body {
margin: 25px 0 0 0;
padding: 0;
font: 76% Arial, Helvetica, Verdana, sans-serif;
line-height: 1.5em;
color: #505367;
background-color: #f3f3f3;

}

/* TABLES ------------------------ */

#table {
background: #fff url(../images/nl_alert_admin.png) 243px 29px no-repeat;
margin: 0 auto;
min-width:900px;
padding:25px;
border:1px #a6a6a6 solid;
}
table#table td {
vertical-align:top;
}
/* Users, Authorization Areas */
table#body_tbl_users, table#body_tbl_areas {
background-color:#fff;
margin-bottom:10px;
border: none !important;
}
table#body_tbl_users td, table#body_tbl_areas td {
padding:3px;
border: 1px solid #ccc !important;
}
table#body_tbl_users th, table#body_tbl_areas th {
padding:10px 6px 10px 3px ;
text-transform: uppercase;
background-color: #eee;
letter-spacing:1px;
border: 1px solid #ccc !important;
}

/*Report tables*/

#body_tbl_total_messages,
#body_tbl_output,
#body_tbl_operatorperformance,
#body_tbl_sysmessages {
margin-bottom: 25px;
max-width: 800px !important;
border-spacing:0px;
border: outset 0px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
font-size: 90%;
line-height:normal;
}

#body_tbl_total_messages tr:first-child,
#body_tbl_output tr:first-child,
#body_tbl_operatorperformance tr:first-child,
#body_tbl_sysmessages tr:first-child {
text-transform: uppercase;
background-color: #eee;
letter-spacing:1px;
font-weight:bold;
}


#body_tbl_total_messages td:first-child,
#body_tbl_output td:first-child,
#body_tbl_operatorperformance td:first-child,
#body_tbl_sysmessages td:first-child {
min-width:100px;
}


#body_tbl_total_messages td,
#body_tbl_output td,
#body_tbl_operatorperformance td,
#body_tbl_sysmessages td {
border-top: 1px solid #ccc;
border-right: none;
border-bottom: none;
border-left: 1px solid #ccc;
padding:5px;
}

/* LINKS ------------------------- */

a:link {color: #006699; text-decoration:none; border:none;}
a:visited {color: #006699;text-decoration:none; border:none;}
a:hover {color: #007EBD;text-decoration:none; border:none;}
a:active {color: #006699;text-decoration:none; border:none;}


/* MAIN MENUE -------------------- */


#Menu1 {
border: 1px solid #99cc00;
background-color:#ACE600;
padding: 10px 30px 10px 5px;;
margin:0px 0 35px 0px;
}
#Menu1 td {
vertical-align:middle !important;
}

.Menu1_0 { 
background-color:white;
visibility:hidden;
display:none;
position:absolute;
left:0px;top:0px; 
border:1px solid #99cc00;
padding: 5px; 
}
.Menu1_1 { 
text-decoration:none;
padding: 0px;
/*background-color:pink;*/
}
.Menu1_2 {
padding: 0px;
/*background-color:#F1FFC7;*/
}
.Menu1_3 { 
padding:3px;
/*background-color:aqua;*/
}

a.Menu1_1:link {color:#000;display:block; padding-left:10px;} 
a.Menu1_1:visited {color:#000;display:block;padding-left:10px;} 
a.Menu1_1:hover {color:#000; background-color:#99cc00; display:block;padding-left:10px;} 
a.Menu1_1:active {color:#000;display:block;padding-left:10px;}


/* HEADINGS ---------------------- */


#body_lbl_new_sysm, #body_lbl_active_sysm, #body_lbl_overview {
font-size: 130%;
letter-spacing: 1px;
color: #333;
text-transform: uppercase;
}


#body_Table1 span#body_lbl_new_sysm, #body_Table2 tr th span#body_lbl_new_sysm {
display:block;
margin-top:25px;
}

/* Parameter H and fix for Users */
 #body_Label4  {
letter-spacing:normal;
text-transform:none;
font: 100% Arial, Helvetica, Verdana, sans-serif;
line-height: 1.5em;
color: #505367;
}

#body_Table2 #body_Label4 {
display:block;
margin-bottom:5px;
font-size: 130%;
font-weight:bold;
letter-spacing: 1px;
color: #333;
text-transform: uppercase;
}
/* User details */
#body_lbl_userdetails {
margin-top: 20px;
padding:  5px 0 10px 0;
display:block;
font-size: 130%;
letter-spacing: 1px;
color: #333;
text-transform: uppercase;
}

/* FORMS ------------------------- */

/* Main Admin Window > Message txt */

textarea {
padding:2px;
}

#body_txt_view_message {
color: #666;
border: 1px dotted #ccc;
font-style: italic;
}

/* LOGON ------------------------- */

#Table1 {
margin: 0 auto;
font: 100% Arial, Helvetica, Verdana, sans-serif;
padding-top:25px;
}
#table2 {
width:auto;
color: #505367;
border: 1px solid #ccc;
background: #fff url(../images/nl_alert_admin.png) -5px 10px no-repeat;
}
#table2 td {
padding: 5px;
}
#table2 span#lbl_logon {
display:block;
font-size: 120%;
font-weight:bold;
letter-spacing: 1px;
color: #ccc;
text-transform: uppercase;
padding: 50px 0 0 0;
}
#btn_ok, #btn_cancel {
float:left;
}
#txt_user, #txt_password {
width: 143px!important;
}






