<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UMSAlertiX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UMSAlertiX.Properties.Settings>
            <setting name="UMSAlertiX_AlertiXAlertApi_AlertApi" serializeAs="String">
                <value>http://lbv.netcom.no:8080/alertix/AlertApi</value>
            </setting>
            <setting name="UMSAlertiX_AlertiXAreaApi_AreaApi" serializeAs="String">
                <value>http://lbv.netcom.no:8080/alertix/AreaApi</value>
            </setting>
            <setting name="UMSAlertiX_AlertiXStatusApi_StatusApi" serializeAs="String">
                <value>http://lbv.netcom.no:8080/alertix/StatusApi</value>
            </setting>
        </UMSAlertiX.Properties.Settings>
    </applicationSettings>
</configuration>