<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="com.ums.pas.integration.PasIntegrationService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ActiveMqUri" value="failover:tcp://192.168.3.59:61616" />
    <add key="ActiveMqDestination" value="queue://pas-integration-beta" />
    <add key="BackboneEatPath" value="\\192.168.3.57\ums\var\aep\eat\"/>
    <add key="TtsPath" value="\\192.168.3.61\ums\var\tts\convert\"/>
    <add key="TempPath" value="\\192.168.3.57\ums\var\temp\"/>
    <add key="BBMessages" value="\\192.168.3.57\ums\var\gas\audiofiles\"/>
	<add key="UseDoubleAdrLookup" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="backbone" connectionString="DSN=backbone_beta; UID=sa; PWD=Diginform2011"/>
    <add name="adrdb_folkereg" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_folkereg;Uid=sa;Pwd=Diginform2011;"/>
    <add name="adrdb_regular" connectionString="Driver={SQL Server};Server=192.168.3.55;Database=norway_address;Uid=sa;Pwd=Diginform2011;"/>
  </connectionStrings> 

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="e:\ums\log\pas_integration_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="DatePattern" value="yyyyMMdd'.log'" />
      <datePattern value="yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

</configuration>  
