<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="com.ums.pas.integration.PasIntegrationService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ActiveMqUri" value="failover:tcp://192.168.3.59:61616" />
    <add key="ActiveMqDestination" value="queue://pas-integration-beta" />
    <add key="BackboneEatPath" value="\\192.168.3.57\ums\var\aep\eat\"/>
    <add key="TtsPath" value="\\192.168.3.61\ums\var\tts\convert\"/>
    <add key="TempPath" value="\\192.168.3.57\ums\var\temp\"/>
  </appSettings>
  <connectionStrings>
    <add name="backbone" connectionString="DSN=backbone_beta; UID=sa; PWD=Diginform2011"/>
  </connectionStrings>
</configuration>  
