<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+">
  <information>
    <title>#if($project.Name)$project.Name#end</title>
    <vendor>#if($project.Organization.Name)$project.Organization.Name#end<vendor/>
    <homepage>#if($project.Organization.Url)$project.Organization.Url#end<homepage/>
		<icon href="$jnlp_codebase/centiccLogo64.ico" />
		<icon href="$jnlp_codebase/PAS_splash.jpg" kind="splash" />
		<icon kind="shortcut" href="$jnlp_codebase/centiccLogo64.ico" width="64" height="64"/>
		<shortcut online="true">
			<desktop/>
		</shortcut>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+"
          href="http://java.sun.com/products/autodl/j2se"
          java-vm-args="-Xms512M -Xmx768M -Dsun.net.client.defaultConnectTimeout=10000 -Dsun.net.client.defaultReadTimeout=600000" />
    $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>-cUMS</argument>
    <argument>-shttps://secure.ums2.no/PAS/</argument>
    <argument>-whttps://secure.ums2.no/PAS/ws_NLAlert.1.01/WS/</argument>
    <argument>-ahttp://94.228.135.15/MapSearchService/</argument>
    <argument>-mhttp://94.228.135.8/mapguide2011/mapagent/mapagent.fcgi;image/png;BurgerAlert/Layers/TOP250Raster,BurgerAlert/Layers/Veiligheidsregios;28992</argument>
  </application-desc>
</jnlp>